<% book_wrapper("#{book.permalink}.item") do %>
	<h2 class="title"><%= book_page_link(book) %></h2>

	<p class="about clear"><%= edit_link(book) %> By <%= author_pages_link(book.authors) %>, finished <%= h(nice_date(book.created_at)) %></p>

	<%= content_tag :div, smartdown(book.comment), :class => "comment" unless book.comment.blank? %>
<% end %>
