<% form_for @book do |f| %>
	<%= error_messages_for "book", :id => "book_form_errors", :class => "errors", :message => nil %>

	<div class="section block wide large">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "text" %>
	</div>
	
	<div class="section block wide">
		<%= f.label :author_name, "Author name" %>
		<%= f.text_field :author_name, :class => "text" %>
	</div>
	
	<div class="section block wide">
		<%= f.label :comment %>
		<%= f.text_area :comment, :rows => 8, :class => "text" %>
	</div>

	<div class="section primary narrow">
		<%= f.label :cover_url, "Cover image" %>
		<%= f.text_field :cover_url, :class => "text" %>
	</div>

	<div class="section secondary narrow">
		<label for="book_isbn"><abbr title="Intenational Standard Book Number">ISBN</abbr></label>
		<%= f.text_field :isbn, :class => "text" %>
	</div>
  
	<%= f.submit "Save", :class => "save button" %>
<% end %>
