<%- title sanitize(smartypants(@book.title)) -%>
<div class="book">
	<h1 class="title"><%= yield :title %></h1>
	<p class="about"><%= edit_link(@book) %> By <%= author_page_link(@book.author) %>, finished <%= h(nice_date(@book.created_at)) %></p>
	
	<div class="comment">
		<%= sanitize(smartypants(markdown(@book.comment))) %>
	</div>
</div>
