<% book_wrapper("#{@book.permalink}.page") do %>
    <h1 class="title"><%= @title %></h1>
    <p class="about"><%= edit_link(@book) %> By <%= author_pages_link(@book.authors) %>, finished <%= nice_date(@book.created_at) %></p>
    
    <%= content_tag :div, smartdown(@book.comment), :class => "comment" unless @book.comment.blank? %>
<% end %>
