<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <title><%= @title || sitetitle %></title>
    
    <%= stylesheet_link_tag "application", :media => "screen,projection" %>
    <%= auto_discovery_link_tag(:atom, {:controller => "books", :format => "atom"}, {:title => "Atom feed"}) %>
    <%= csrf_meta_tag %>
    
    <meta name="author" content="<%= APP_CONFIG['author'] %>">

<!--tracking-->
</head><body>
    <div id="wrapper">
        <div id="header">
            <%= sitename_tag %>
            <%= navbar %>
        </div>
        
        <%- flash.each do |key, msg| -%>
            <%= content_tag :p, msg, :class => key %>
        <%- end -%>
        
        <div id="content" class="clear">
            <%= yield :layout %>
        </div>
        
        <div id="footer">
            <%= blurb %>
        </div>
    </div>
    
    <%= javascript_include_tag :application %>
</body></html>
